/* style.css */
body{
  background: #C7EFCF;
  color: #E63462;
  font-size: 15px;
  font-family: 'Major Mono Display', monospace;
}
h1{
  font-family: 'Major Mono Display', monospace;
  color: #333745;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  font-family: 'Major Mono Display', monospace;
  color: #333745;
  font-weight: bold;
  font-size: 24px;
}
a {
  color: #0a516d;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #333745;

}
#banner{
  text-align: left;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 100px;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
  #banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
